<div>
  <app-header></app-header>
</div>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#" >Resto App</a>
  <button
    #b
    (click)="disp()"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="add">Add Resto</a>
      <a class="nav-item nav-link" routerLink="list">Operations</a>
      <a class="nav-item nav-link" routerLink="login">Login</a>
      <a class="nav-item nav-link" routerLink="register">Register</a>
    </div>
  </div>
</nav>

<div class="container">
<router-outlet></router-outlet>
</div>

<div >
<table class="table" *ngIf="b">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">add</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of collection">
      <th>{{item.id}}</th>
      <th>{{item.name}}</th>
      <th>{{item.add}}</th>
      <th>{{item.email}}</th>
    </tr>
  </tbody>
</table>
</div>

<div>
  <app-footer></app-footer>
</div>
